<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Spring DB Driver -->
	<bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="mvc"/>
		<property name="password" value="1234"/>
	</bean>
	
	<!-- Mybatis : sqlSessionFactoryBean-->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"/>
		<!-- mapper.xml이 한개뿐일때는 mapperLoactions(String) 으로 value값 바로 입력되지만, -->
		<!-- <property name="mapperLocations" value="classpath:com/java/member/dao/mapper/MemberMapper.xml"/> -->
		
		<!-- mapper.xml이 두개 이상이면 mapperLoactions(List) 로 List에 담아서  설정해줘야한다.-->
		<property name="mapperLocations" >
			<list>
				<value>classpath:com/java/member/dao/mapper/MemberMapper.xml</value>
				<value>classpath:com/java/fileBoard/dao/mapper/FileBoardMapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- Mybatis : sqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"><!-- Template으로 던져야해서 -->
		<constructor-arg ref="sqlSessionFactoryBean"/>
	</bean>
</beans>
